extends layout

block content
  h1= title
  p Welcome to #{title}
  form#loginFrm(method='post', action='loginProcess')
      p
          input#username(type='text', name='username', placeholder='User Name')
      p
          input#password(type='password', name='password', placeholder='Password')
      p
          input#submit(type='submit', value='Submit')
  